/** COLORS
red:    #FE6F71
yellow: #F9BE58
alt yellow: #EBB352
blue:   #2263A1
white:  #EAE2D7
grey:   #586070
 **/

body {
  background: #EBB352;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Lora', serif;
}
a:link {
  text-decoration: none;
  color: #EAE2D7;
}
a:visited {
  color: #EAE2D7;
}
header {
  height: 350px;
  font-family: 'Merriweather', serif;
  color: #EAE2D7;
}
nav {
  height: 40px;
}
nav ul, #contact ul {
  list-style: none;
}
nav li {
  display: inline-block;
  float: right;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-right: 35px;
}
.full-width {
  width: 90%;
  margin: 0 auto;
  clear: both;
}
.about-text {
  width: 60%;
  min-width: 565px;
  float: left;
  display: block;
}
.half-width {
  width: 50%;
  float: left;
  text-align: center;
  margin-bottom: 50px;
}
.third-width {
  width: 33%;
  float: left;
  margin: auto;
  text-align: center;
}
#intro, #portfolio, #contact {
  clear: both;
  margin: auto;
  color: #EAE2D7;
}
#intro {
  margin-left: 100px;
  overflow: hidden;
}
#buffer1 {
  height: 20px;
  clear: both;
}
#buffer2 {
  height: 100px;
  clear: both;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
  line-height: 0px;
  font-family: 'Lora', serif;
  font-weight: bold;
  margin-top: 50px;
}
#about {
  width: 85%;
  min-width: 977px;
  min-height: 366px;
  background: #EAE2D7;
  position: relative;
  border: 20px solid #2263A1;
  border-radius: 2rem 2rem 2px 2px;
  margin: auto;
  color: #586070;
  font-size: 20px;
  }
#about:after {
  content: '';
  position: absolute;
  top: -3rem;
  left: -3rem;
  right: -3rem;
  bottom: -3rem;
  border: 3rem solid #FE6F71;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  z-index: -1;
}
#about img {
  width: 300px;
  margin: 30px;
  border: 3px solid #586070;
  border-radius: 2px;
  float: left;
  display: block;
}
#portfolio {
  width: 85%;
  min-width: 1017px;
  background-color:  #FE6F71;
  overflow: auto;
  border: 3rem solid #FE6F71;
}
#portfolio h3, #contact h3 {
  text-align: center;
  text-transform: capitalize;
  margin: 30px;
}
.underline {
  width: 30%;
  min-width: 250px;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #EAE2D7;
}
.portfolio-item {
  width: 100%;
  clear: both;
  margin-top: 35px;
}

#portfolio img {
  width: 90%;
  margin: auto;
}
#contact h3 {
  padding-top: 1em;
}
#contact {
  width: 85%;
  min-width: 977px;
  min-height: 80px;
  position: relative;
  clear: both;
  color: #586070;
  background: #EAE2D7;
  border: 20px solid #2263A1;
  border-radius: 2px 2px 2rem 2rem;
  margin-bottom: 75px;
}
#contact:after {
  content: '';
  position: absolute;
  top: -3rem;
  left: -3rem;
  right: -3rem;
  bottom: -3rem;
  border: 3rem solid #FE6F71;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  z-index: -1;
}
#contact ul {
  text-align: center;
  padding-top: 1em;
}
#contact li {
  display: inline-block;
  margin-right: 45px;
}
#contact img {
  width: 36px;
}
